<div class="card">
    <div class="card-header bg-success text-white" [ngClass]="{'bg-secondary':task.priority_level==='low',
                                                                      'bg-warning':task.priority_level==='medium',
                                                                      'bg-danger':task.priority_level==='high'   }">
        <h4 class="card-title">{{task.title}}</h4>
    </div>
    <div class="card-body bg-primary text-white">
        <p>{{task.description}}</p>
        <hr>
        <p>{{task.task_date | date}}</p> 
        <!-- the pipe is the "|" and it shows the format better!-->
        <hr>
        <p>{{task.category}}</p>
        <hr>
        <p>{{task.priority_level}}</p>
        <hr>
        <p>{{task.progress_level}}</p>
        <hr>

    </div>
</div>
